@import url('https://fonts.googleapis.com/css?family=Comfortaa|Monoton|Open+Sans&display=swap');

header{
  width:920px; height:auto;
  padding: 20px 20px 20px 20px;
  margin:0 auto;
  margin-top: 5px;
  text-align: justify;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-width: 1px 0px 0px 0px; border-color: black; border-style: solid;
    width: 185px;
  }

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li:hover{
  border-width: 4px 0px 0px 0px;
}

h1{
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

main{
  background-color: #3D9BE9;
}

#footer{
  border-width: 1px 0px 0px 0px; border-color: black; border-style: solid;
  padding: 10px 0px 30px 0px;
}

footer img {
  width: 40px;
  height: 40px;
  padding: 20px 0px 10px 0px;
}

/* how do i resize an image without making it super pixelated??? */
#img1{
  padding: 20px 10px 20px 25px;
  width: 96%;
  align-items: center;
}

#grid1 ul li{
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
  font-family: 'Comfortaa', cursive;
  border-width: 1px 0px 0px 0px; border-color: black; border-style: solid;
  width: 350px;
  width: 30%;
}
/* How do i move these over to be in line with the boxes??? */

#grid2{
  display: grid;
  padding: 0px 0px 30px 40px;
  grid-template-rows: 220px;
  grid-template-columns: 370px 370px 370px;
  grid-column-gap: 20px;
}

#aboutquote{
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#contactquote{
  background-color: black;
  color: white;
  padding: 0px 10px 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.currentpage{
  border-width: 4px 0px 0px 0px;
}

.buttons{
  width: 60px;
  height: 20px;
  padding: 5px;
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  margin-left: 210px;
}

.buttons:hover{
  background-color: silver;
}

.smaller{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* how to get image to be the correct size??? */
#imageBox{
  width: 370px;
  height: 220px;
}

#imageBox img{
  height: 220px;
  display: block;
  margin: 0 auto;
}
