


/* making the height "auto" will adjust the box size based on the text, no text= box/ color will disappear */
/* make sure to adjust width based on how much padding added, border, etc. */
        header{
          background-color:LightBlue;
          width:920px; height:auto;
          padding: 20px 20px 20px 20px;
          border-width: 10px 5px 10px 5px; border-color: black; border-style: solid;
/* shortcut to make the top/ bottom 0 and the left/ right adjust */
          margin:0 auto;
/* negative number close gaps in the margins */
          margin-top:-10px;}

        main{
          background-color: SkyBlue;
          width:920px;
          height:auto;
/* padding adds x pixels around each side of the text */
          padding:20px;
/* can adjust each side's padding individually */
          padding-top:20px;
          padding-right:20px;
          padding-bottom:20px;
          padding-left:20px;
/* add border around box on all sides */
          border-width:5px; border-style: solid; border-color: Black;
/* making the margins auto on the left/ right will center the box and have it move based on the size of the window */
          margin-top:0px;
          margin-right: auto;
          margin-bottom:0px;
          margin-left:auto;}

        footer{
          background-color:CornflowerBlue;
          width:920px; height:auto;
          margin-top:0px;
          margin-right: auto;
          margin-bottom:0px;
          margin-left:auto;
          padding:20px;
          border-width:5px;
          border-style: solid;
          border-color: Black;
         }

/* style of the navigation */
        nav{
          background-color: LightCyan;
          border-width:5px;
          border-style: solid;
          border-color: black;
          width: 360px;
          height: auto;
/* this is how you center something */
          margin: 0 auto;}

        nav ul{}

        nav ul li{
          list-style: none;
/* box tags are the big sections like footer, h1, p; in line are bold, italics and underline */
/* this is how you get the nav to go horizontally */
          display: inline-block;
/* this puts space between each element */
          margin-right: 20px;
          padding: 5px;}

/* text color MUST be changed in "a" tag section */
        nav ul li a{
          color: navy;
          text-decoration: none;
          padding: 5px;}

        nav ul li:hover{
          background-color: LightSteelBlue;}

        #grid1{
          width: 800px; height: auto;
          margin: 20px auto;
          display: grid;
          grid-template-rows: 150px;
          grid-template-columns: 190px 590px;
          grid-column-gap: 20px;
        }

        #grid2{
          width: 800px; height: auto;
          margin: 20px auto;
          display: grid;
          grid-auto-rows: 230px;
          grid-template-columns: 390px 390px;
          grid-column-gap: 20px;
        }

        #grid2 img{
          width: 300px;
          margin: 0 auto;
          display: block;
        }

        #grid3{
          width: 800px; height: auto;
          margin: 20px auto;
          display: grid;
          grid-template-rows: 1fr;
/* second column will be twice as large as the first one */
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 20px;
        }

        #grid3 img{
          width: 350px;
          margin: 0 auto;
          display: block;
        }
