@import url('https://fonts.googleapis.com/css?family=Comfortaa|Monoton|Open+Sans&display=swap');

header{
  width:920px; height:auto;
  padding: 20px 20px 20px 20px;
  margin:0 auto;
  margin-top: 5px;
  text-align: justify;
}

/* where do i put the border on top in my css????????? */

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

h1{
  font-family: 'Monoton', cursive;
  font-size: 50px;
}
