@import "desktop.css";

/* most phones are around 400px range */
/* only css in here needs to be changes from OG css page */

header{
  width: 390px;
}

main{
  width: 390px;
}

footer{
  width: 390px;
  padding-left: 5px;
}

nav{
  width: 350px
}

nav ul li{
  display: block;
  text-align: center;
  margin-right: 35px;
}

#microsoft, #patagonia{
  width: 380px;
}

#grid1{
  display: block;
  height: auto;
}

#manifestotext h2{
  padding-bottom: 30px;
}

#slider img{
  width: 380px;
}

#slider{
  width: 380px;
}

/* was able to shrink the image but not the slider controls??? */
