@import "desktop.css";

/* most phones are around 400px range */
/* only css in here needs to be changes from OG css page */

header{
  width: 380px;
}

main{
  width: 380px;
}

footer{
  width: 380px;
}

nav{
  width: 250px
}

nav ul li{
  display: block;
  text-align: center;
  margin-right: 35px;
}

/* stacks items by removing grids and can do it all at once */
#grid1, #grid2, #grid3, #grid4{
  display:block;
  width: 380px;
  height: auto;
}

#grid1 img{
  padding: 0px 40px 20px 0px;
}

#grid1 section{
  padding: 0px 0px 0px 27px;
}

#grid2 p{
  padding: 0px 0px 20px 50px;
}

#grid3 img{
  width: 300px;
  padding: 0px 45px 20px 0px;
}

#grid3 section{
  padding: 0px 0px 0px 30px;
}

#grid4 img{
  padding: 0px 40px 20px 0px;
}

#grid4 section{
  padding: 0px 0px 0px 27px;
}
