html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: url('../images/bg.jpg') repeat top left;
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
}

.middle
{
  z-index: 500;
  width: 4000px;
}

.front
{
  z-index: 1000;
  width: 6000px;
  height: 400px;
}

.page
{
    top: 0px;
    width: 500px;
    background: white;
    padding: 10px 30px;
    border: 1px #eee solid;
    position: absolute;
}

#section0{
  width: 330px;
  left: 350px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

p{
  text-align: justify;
}

#section1{
  width: 300px;
  left: 1200px;
  border-style: solid;
  border-color: navy;
  border-width: 2px;
}

#img1{
  width: 250px;
  left: 1605px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section2{
  width: 300px;
  left: 1900px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img2{
  width: 250px;
  left: 2305px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section3{
  width: 300px;
  left: 2600px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img3{
  width: 250px;
  left: 3005px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section4{
  width: 300px;
  left: 3300px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img4{
  width: 250px;
  left: 3705px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section5{
  width: 300px;
  left: 4000px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img5{
  width: 250px;
  left: 4405px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section6{
  width: 300px;
  left: 4700px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img6{
  width: 350px;
  left: 5105px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  padding: 0px;
}

#section7{
  width: 300px;
  left: 5500px;
  border-style: : solid;
  border-color: navy;
  border-width: 2px;
}

#img7{
  width: 300px;
}
